{% extends 'base.html.twig' %}

{% block title %}
	Register
{% endblock %}

{% block body %}
	<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
		<div class="sm:mx-auto sm:w-full sm:max-w-sm">
			<a href="{{ path('homepage') }}">
				<img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
			</a>
			<h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Create an account</h2>
		</div>
		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm text-red-400">
			{{ form_errors(registrationForm) }}
			{{ form_start(registrationForm, { attr: {'class': 'space-y-6'} }) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.username) }}
			    {{ form_row(registrationForm.plainPassword) }}
				<div>
					<button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Register</button>
				</div>
			{{ form_end(registrationForm) }}
			<p class="mt-10 text-center text-sm text-gray-400">
				Already have an account?
				<a href="{{ path('login_page') }}" class="font-semibold leading-6 text-indigo-400 hover:text-indigo-300">Log in</a>
			</p>
		</div>
	</div>
{% endblock %}