{% extends "layout.html.twig" %}

{% block content %}
	{% if movies|length > 0 %}
		<ul>
			<div>
				<div class="mx-auto max-w-lg px-4 py-16 sm:max-w-4xl sm:px-3 sm:py-3 lg:max-w-7xl lg:px-8">
					<h2 class="text-2xl font-bold tracking-tight text-gray-300">Featured movies</h2>
					<div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-3 lg:grid-cols-4 xl:gap-x-8">
						{% for movie in movies %}
							<div class="group relative">
								<div class="w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 ">
									<img src="/images/{{movie.poster.filename}}" alt="{{movie.title}}_poster" class="h-full w-full object-cover object-center">
								</div>
								<div class="mt-4 flex justify-between">
									<div>
										<h3 class="text-md text-gray-300">
											<a href="{{ path('movie_details_page', {id: movie.id}) }}">
												<span aria-hidden="true" class="absolute inset-0"></span>
												{{movie.title}}
											</a>
										</h3>
										<p class="mt-1 text-sm text-gray-500">{{movie.details.releaseYear}}</p>
									</div>
									<p class="text-sm font-medium text-indigo-400">{{ movie.rating|number_format(1) }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</ul>
		{% include "components/pagination.html.twig" %}
	{% else %}
		<div class="flex justify-center items-center h-3/4">
			<h2 class="text-2xl font-bold text-gray-400">No movies were found.</h2>
		</div>
	{% endif %}
{% endblock %}
